@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.TodoCounter {
  font-size: 24px;
  text-align: center;
  margin: 0;
  padding: 48px;
}

.TodoCounter--loading {
  opacity: 25%;
}
